:root {
    --width: 480px;
}

#board {
    --opacity: .5;
    --saturation: 70%;
    width: var(--width);
    aspect-ratio: 1 / 1;
    background-color: hsla(0, var(--saturation), 30%, var(--opacity));
    position: relative;
}

#board::before {
    content: '';
    width: var(--width);
    aspect-ratio: 1 / 1;
    background-color: hsla(200, var(--saturation), 30%, 1);
    display: block;
    position: absolute;
    z-index: -1;
}


.slime {
    width: calc(var(--slime-width) * 1px);
    height: calc(var(--slime-height) * 1px);
    border-radius: 80% 80% 60% 60%;
    background-color: var(--slime-color);
    position: absolute;
    left: calc(30px + var(--pos-x) * 60px - var(--slime-width) * 1px / 2);
    top: calc(30px + var(--pos-y) * 60px - var(--slime-height) * 1px / 2);
}
#limo-0 {
    --slime-width-base: 30;
    --slime-height-base: 26;
    --slime-width: var(--slime-width-base);
    --slime-height: var(--slime-height-base);
    --slime-color: rgb(0, 204, 78);
    --pos-x: 0;
    --pos-y: 0;
}

#limo-1 {
    --slime-width-base: 30;
    --slime-height-base: 26;
    --slime-width: var(--slime-width-base);
    --slime-height: var(--slime-height-base);
    --slime-color: rgb(61, 192, 89);
    --pos-x: 1;
    --pos-y: 1;
}

.slidecontainer {
    width: 100%;
}

.slider {
    appearance: none;
    width: var(--width);
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}