.slime {
    --color-1: hsl(50, 100%, 41%);
    --color-2: hsl(60, 100%, 40%);
    --color-3: hsl(70, 100%, 40%);
    --color-4: hsl(80, 100%, 40%);
    --color-5: hsl(90, 100%, 40%);
    --color-6: hsl(100, 100%, 40%);
    --color-7: hsl(110, 100%, 40%);
    --color-8: hsl(120, 100%, 40%);
    --color-9: hsl(130, 100%, 40%);
    --color-10: hsl(140, 100%, 40%);
    --color-11: hsl(150, 100%, 40%);
    --color-12: hsl(160, 100%, 40%);
    --color-13: hsl(170, 100%, 40%);
    --color-14: hsl(180, 100%, 40%);
    --color-15: hsl(190, 100%, 40%);
    --color-16: hsl(2000, 100%, 40%);
}

.slime {
    width: calc(var(--slime-width) * 1px);
    height: calc(var(--slime-height) * 1px);
    border-radius: 80% 80% 60% 60%;
    background-color: var(--slime-color);
    position: absolute;
    left: calc(30px + var(--pos-x) * 60px - var(--slime-width) * 1px / 2);
    top: calc(30px + var(--pos-y) * 60px - var(--slime-height) * 1px / 2);
}